.cart-container {

    width: 100vw;
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.content-heading {
    padding: 1rem 0;
}
.cart {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cart-horizontal {
    width: 30rem;
    height: 22rem;
    display: flex;
    box-shadow: rgba(122, 158, 194, 0.2) 0px 8px 24px;
    margin-bottom: 2rem;
    
}
 .bill-container {
    margin: 0.5rem auto;
  }
.cart-image {
    width: 20rem;
    height: 22rem;
    object-fit: cover;
    display: block;
    padding: 1rem;
    position: relative;
}
.cart-content {
    padding: 1rem;
}

 .card-title {
    font-weight: 500;
    font-size: 1.4rem;
    margin-left: 1rem;
    padding: 1rem 0;
}
.card-price {
    font-weight: 700;
    font-size: 1.2rem;
    margin-right: 5rem;
}

.cart-quantity {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    padding-top: 1rem;
}
.quantity {
    border: 1px solid var(--grey-color);
    padding: 0.1rem 0.4rem;
    padding-right: 0.6rem;
    border-radius: 5px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}

.product-button{
    padding-top: 1rem;
}
.btn-primary {
    margin: 0.8rem ;
     width: 90%;


}
.btn-secondary {
     color: black;
}
.bill-container {
    margin: 0.5rem auto;
  }
.cart-vertical {
    width: 25rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(122, 158, 194, 0.2) 0px 8px 24px;
    margin-left: 2rem;
    padding: 1rem;
}

.cart-price--distribution {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.cart-total {
    padding: .8rem 0;
}

.cart-price--value {
    float: right;
}

.cart-vertical>.cart-text {
    padding-top: .8rem;
}

.cart-vertical>.btn {
    margin: 1rem 0;
    width: auto;
} 
.btn-link-products {
    background-color: var(--primary-color);
}
