:root {
  --wishlist-hover-color: #f0e8e8;
  --toastify-color-info: #202528;
  --toastify-color-success: #558d14;
  --toastify-color-warning: #ff9204;
  --toastify-color-error: #d61010;
}
#root {
  height: 100%;
}
.App {
  max-height: 100vh;
  height: 100%;
}



